name: Main

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: '22 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.17

      - name: Check out code
        uses: actions/checkout@v2

      - name: Build
        run: make full projectl git-change-check
